.gallery-video {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  gap: 50px;
  padding: 20px;
}

.card-video {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

.card-video video {
  width: 100%;
  height: auto;
  display: inline-block;
}

.card-video-yt {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  z-index: 1;
}

.card-video-yt iframe {
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  z-index: 1;
}

.video-text {
  position: relative;
  text-align: left;
  z-index: 10;
}

.video-text p {
  font-size: medium;
  padding: 10px;
  max-width: 70%;
}

.video1,
.video2,
.video3,
.video4,
.video5,
.video6 {
  border: 3px solid #fff; /* optional border styling */
}

/* Responsive styling for tablets */
@media (max-width: 768px) {
  .gallery-video {
    grid-template-columns: repeat(
      auto-fill,
      minmax(400px, 1fr)
    ); /* Adjust column width */
    gap: 30px;
    padding: 15px;
  }

  .video-text p {
    font-size: small;
    max-width: 100%; /* Ensure text spans full width on smaller screens */
  }

  .card-video-yt iframe {
    position: absolute;
  }
}

/* Responsive styling for smartphones */
@media (max-width: 480px) {
  .gallery-video {
    grid-template-columns: 1fr; /* Single column layout for small screens */
    gap: 20px;
    padding: 10px;
  }

  .video-text p {
    font-size: small;
    max-width: 100%;
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .card-video-yt iframe {
    position: absolute;
  }

  .card-video .card-video-yt {
    border-radius: 5px;
  }
}
